@import "../../styles/variables";

.card {
  background-color: $gray10;
  margin: $spacing-sm;
}

.card-content {
  padding: $spacing-sm;
}

.card-body {
  padding: 1rem 0;
}

.card-content h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-content span {
  padding-right: $spacing-xxs;
}

.card-content .card-button {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: $orange;
}
