@import "../../styles/variables";

.book-list-container {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.card {
  display: flex;
  width: 100%;
  // background-color: $gray10;
  margin: $spacing-xxs;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 1024px) {
  .card {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    width: 32%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $spacing-sm;
  text-align: center;
}

.card-body {
  padding: 1rem 0;
  flex: 1 1 auto;
}

.card-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.25;
}

.card-content span {
  padding-right: $spacing-xxs;
}

.card-footer {
  padding: 2rem;
}

.card-button {
  color: $orange;
  background-color: $white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  transition: 0.25s;
  border-color: $orange;
  border-width: 0.1rem;

  &:hover,
  &:focus {
    border-color: $orange;
    color: #fff;
  }
}

.card-button:hover,
.card-button:focus {
  box-shadow: inset 12.5em 0 0 0 $orange;
}
